.password-container{
    display: flex;
    width: 50%;
    margin: 3rem auto;
    flex-direction: column;
}
.password-titr{
    display: flex;
    width: 100%;
}
.password-titr p{
    padding: 1rem ;
    display: block;
    border: 1px solid lightgray;
    border-radius: 15px 15px 15px 0;
    border-bottom: 0;
    margin-bottom: 0;
    background-color: #ff5555;
}
.password-form{
    padding: 4rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 15px;
}
.password-form form{
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.password-form div{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.password-form input{
    width: 70%;
    padding: 0.25rem 1rem;
    border-radius: 15px;
    border: 3px solid white;
}
.password-form input:focus-visible{
    outline: 0;
    border: 3px solid #ff5555;
}
.password-form label{
    width: 30%;
}
.password-buttons{
    display: flex;
    padding: 5rem;
    padding-right: 0;
}
.password-buttons button{
    padding: 0.25rem 2rem;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-left: 1rem;
    background: none;
    color: white;
}
.password-buttons button:hover{
    background-color: #ff5555;
    border: 1px solid #ff5555;
    transition: 0.3s;
}